html {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  max-width: 400px;
  border: 1px solid #d5e1ef;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-container {
  padding-inline: 0.9rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  width: 110%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}
.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0.5rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

.sub-title {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
  padding-inline: 1rem;
  color: #c3c4c9;
}
